[Unit]
Description=Robot API Interface
After=network.target

[Service]
Type=forking
Restart=on-failure
RestartSec=3
ExecStart=/usr/bin/screen -L -dmS api_interface bash -c 'cd "/home/pi/robot_testing/The_Wireless_Army/robot/" ; /usr/bin/python3 "robot_api.py"'
User=pi

[Install]
WantedBy=multi-user.target
