[Unit]
Description=Robot Program
After=network.target robot.service

[Service]
Type=forking
Restart=on-failure
RestartSec=3
ExecStart=/usr/bin/screen -L -dmS gardener_screen bash -c 'cd "/home/pi/plantmonitor/" ; /usr/bin/python3 -u "gardener_cmdline.py"'
User=pi

[Install]
WantedBy=multi-user.target
