[Unit]
Description=Gardener Program
After=network.target api.service

[Service]
Type=forking
Restart=on-failure
RestartSec=3
Environment=DISPLAY=:0
ExecStart=/usr/bin/screen -L -dmS gardener_screen bash -c 'cd "/home/pi/plantmonitor/" ; /usr/bin/python3 -u "gardener_cmdline.py"'
User=pi

[Install]
WantedBy=multi-user.target
