[Unit]
Description=Robot Program
After=network.target gardener.service

[Service]
Type=forking
Restart=on-failure
RestartSec=3
Environment=DISPLAY=:0
ExecStart=/usr/bin/screen -L -dmS robot_screen bash -c 'cd "/home/pi/plantmonitor/" ; /usr/bin/python3 -u "robot_cmdline.py"'
User=pi

[Install]
WantedBy=multi-user.target
